version: '3'

services:
  web1:
    build: ./basic_web/directory_traversal/service/
    ports:
      - "8000:8000"
    restart: always
    container_name: easy_web_1

  web2:
    build: ./basic_web/idor/service/
    ports:
      - "8001:8000"
    restart: always
    container_name: easy_web_2
  
  web3:
    build: ./extra_chals/sequel/service/
    ports:
      - "8002:1337"
    restart: always
    container_name: easy_web_3

  web4: 
    build: ./extra_chals/traveller
    ports:
      - "8003:1337"
    restart: always
    container_name: easy_web_4
  
  web5:
    build: ./extra_chals/trivia/service/
    ports:
      - "8004:1337"
    restart: always
    container_name: easy_web_5

